$lightBlue: #58b7ff;
$blue: #20a0ff;
$darkBlue: #1d8ce0;
$green: #13ce66;
$orange: #f7ba2a;
$red: #ff4949;

$mainColor: $blue;
$sucessColor: $green;
$warnColor: $orange;
$dangerColor: $red;
/*整体背景色*/
$bgColor: #eee;
/*panel背景色*/
$panelColor: #fff; 
